body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 1;
}

.headerSection {
  text-align:center;
  padding:30px;
  border-bottom: 5px black solid;
  width:100%;
  margin-bottom:10px;
}
.columnHalf {
  flex:1;
  padding:10px 20px;
  display: flex;
  flex-direction:column;
}
.mainBody {
  display: flex;
  flex-direction: row;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;  
  text-align:left;
}
 h1 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 500;
  color: #ff8d0a;
  font-size: 70px;
   
 }
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
  flex:4;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 60px;
  border-top: 1px solid white;
  
}
.notes {
  height: 120px;
  margin-bottom:50px;
}

.hour {
  flex:1;
  background-color: #ffffff;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 500;
  color: #000000;
  border-top: 1px dashed #000000;
  min-width:50px;
}

.past {
  background-color: darkgrey;
  color: white;
}

.present {
  background-color: #ff8d0a;
  color: white;
}

.future {
  background-color: #ededed;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: black;
  color: white;
  flex:1;
}

.saveBtn i:hover {
  font-size: 10px;
  transition: all .3s ease-in-out;
}

@media screen and (max-width: 540px) {
.row {
  height: 50px;
}

.saveBtn {
  border-left: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
textarea{ 
  text-align:center;
}
.time-block{
  border-radius: 0px;
}
}